---
const today = new Date();
---

<footer class="p-8 bg-transparent">
	<section class="relative bg-custom-black min-h-[400px] rounded-3xl overflow-hidden">
		<div class="absolute hidden lg:block top-0 left-0 w-32 h-32 rounded-full">
			<svg width="158" height="144" viewBox="0 0 158 144" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="19.5" cy="5.5" r="129" stroke="#5EE2FF" stroke-width="19"/>
			</svg>				
		</div>
		<div class="absolute bottom-0 hidden lg:block right-0 w-32 h-32 rounded-full">
			<svg width="153" height="140" viewBox="0 0 153 140" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="138.5" cy="138.5" r="129" stroke="#9B5CFF" stroke-width="19"/>
			</svg>				
		</div>

		<div class="absolute lg:hidden top-0 left-0 w-32 h-32 rounded-full">
			<svg width="116" height="80" viewBox="0 0 116 80" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="20" cy="-16" r="88.5" stroke="#5EE2FF" stroke-width="15"/>
			</svg>						
		</div>
		<div class="absolute -bottom-12 lg:hidden -right-8 w-32 h-32 rounded-full">
			<svg width="114" height="96" viewBox="0 0 114 96" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="96" cy="96" r="88.5" stroke="#9B5CFF" stroke-width="15"/>
			</svg>					
		</div>
		
		<div class="relative px-6 py-16 max-w-2xl mx-auto text-center">
			<h2 class="text-4xl font-bold text-white mb-6">
				Let's Talk!
			</h2>
			
			<p class="text-gray-400 mb-8 leading-relaxed">
				Interested in working together or have a question? Feel free to reach out. I'm here to help you turn your ideas into amazing digital realities. Looking forward to hearing from you soon!
			</p>
			
			<div class="flex flex-wrap items-stretch justify-center gap-4">
				<div class="text-gray-400 bg-[#0A0A0A] rounded-lg border border-[#3B3B3B] px-4 py-2 flex items-center hover:text-white">
					<a href="mailto:obriggs03@gmail.com" aria-label="Email" class="inline-flex items-center gap-2">
						<div class="w-5 h-5 flex items-center">
							<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z" fill="white"/>
							</svg>								
						</div>
						<p>obriggs03@gmail.com</p>
					</a>
				</div>
				
				<div class="text-gray-400 bg-[#0A0A0A] rounded-lg border border-[#3B3B3B] p-4 flex items-center hover:text-white">
					<a href="https://x.com/ah3mba" target="_blank" rel="noopener noreferrer" class="inline-flex items-center" aria-label="Twitter">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.9763 10.1625L22.7186 0H20.6468L13.056 8.82375L6.993 0H0L9.16838 13.3433L0 24H2.07188L10.0883 14.6818L16.491 24H23.484L13.9757 10.1625H13.9763ZM11.1386 13.4606L10.2096 12.132L2.81831 1.55962H6.00056L11.9651 10.092L12.894 11.4206L20.6477 22.5112H17.4658L11.1386 13.4612V13.4606Z" fill="#FFF8F5"/>
						</svg>				
						<span class="sr-only">X (Formerly known as Twitter)</span>							
					</a>
				</div>
				
				<div class="text-gray-400 bg-[#0A0A0A] rounded-lg border border-[#3B3B3B] p-4 flex items-center hover:text-white">
					<a href="https://github.com/Tamunokorite" target="_blank" rel="noopener noreferrer" class="inline-flex items-center" aria-label="Instagram">
						<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.484 0C9.30141 0 6.24916 1.26428 3.99873 3.51472C1.74829 5.76515 0.484009 8.8174 0.484009 12C0.484009 15.1826 1.74829 18.2348 3.99873 20.4853C6.24916 22.7357 9.30141 24 12.484 24C15.6666 24 18.7189 22.7357 20.9693 20.4853C23.2197 18.2348 24.484 15.1826 24.484 12C24.484 8.8174 23.2197 5.76515 20.9693 3.51472C18.7189 1.26428 15.6666 0 12.484 0ZM15.647 21.783H15.554C15.4842 21.7869 15.4142 21.7766 15.3485 21.7525C15.2828 21.7284 15.2228 21.6912 15.172 21.643C15.1251 21.5934 15.0886 21.535 15.0645 21.4711C15.0405 21.4072 15.0294 21.3392 15.032 21.271V19.865C15.038 19.398 15.042 18.925 15.042 18.449C15.0404 18.1009 14.9895 17.7548 14.891 17.421C14.7977 17.0835 14.6096 16.7799 14.349 16.546C15.046 16.4787 15.7312 16.3204 16.387 16.075C16.9402 15.8646 17.4406 15.5356 17.853 15.111C18.26 14.684 18.563 14.168 18.738 13.605C18.9509 12.9155 19.0522 12.1965 19.038 11.475C19.0419 10.9713 18.9538 10.4711 18.778 9.999C18.5994 9.5232 18.3293 9.08699 17.983 8.715C18.0578 8.52739 18.1121 8.33226 18.145 8.133C18.178 7.933 18.195 7.731 18.195 7.529C18.195 7.269 18.165 7.009 18.105 6.756C18.0505 6.4965 17.9766 6.24146 17.884 5.993C17.8487 5.97921 17.811 5.97242 17.773 5.973H17.663C17.433 5.975 17.207 6.013 16.989 6.084C16.7489 6.15409 16.514 6.24097 16.286 6.344C16.0593 6.44561 15.8386 6.56013 15.625 6.687C15.41 6.814 15.22 6.936 15.052 7.049C13.3697 6.58013 11.5913 6.58013 9.90901 7.049C9.7214 6.92357 9.53067 6.80287 9.33701 6.687C9.12037 6.55907 8.89593 6.44485 8.66501 6.345C8.43767 6.23856 8.20185 6.15126 7.96001 6.084C7.74631 6.0134 7.52305 5.97597 7.29801 5.973H7.18801C7.15039 5.97247 7.11303 5.97926 7.07801 5.993C6.98407 6.2418 6.90722 6.49673 6.84801 6.756C6.79401 7.01 6.76801 7.269 6.76701 7.529C6.76701 7.731 6.78401 7.933 6.81801 8.133C6.85101 8.332 6.90401 8.527 6.97801 8.715C6.6326 9.08748 6.36353 9.52404 6.18601 10C6.00929 10.4719 5.92016 10.9721 5.92301 11.476C5.90902 12.1936 6.00755 12.9089 6.21501 13.596C6.39601 14.159 6.69801 14.676 7.09901 15.112C7.51401 15.534 8.01401 15.862 8.56501 16.076C9.21801 16.326 9.90201 16.486 10.598 16.552C10.4037 16.7281 10.2495 16.944 10.146 17.185C10.0475 17.4233 9.98031 17.6734 9.94601 17.929C9.57909 18.1047 9.17781 18.1969 8.77101 18.199C8.39322 18.2141 8.02036 18.1091 7.70601 17.899C7.40445 17.6755 7.14907 17.3957 6.95401 17.075C6.86671 16.9403 6.76908 16.8126 6.66201 16.693C6.54905 16.5672 6.4245 16.4524 6.29001 16.35C6.15745 16.2509 6.01214 16.1702 5.85801 16.11C5.70636 16.0435 5.54259 16.0091 5.37701 16.009C5.33701 16.01 5.29701 16.014 5.25701 16.019C5.20238 16.0188 5.14795 16.0255 5.09501 16.039C5.04848 16.0512 5.00447 16.0715 4.96501 16.099C4.94707 16.1089 4.93207 16.1233 4.92153 16.1409C4.91099 16.1585 4.90529 16.1785 4.90501 16.199C4.90921 16.2471 4.92392 16.2937 4.94811 16.3356C4.97231 16.3774 5.00538 16.4134 5.04501 16.441C5.13801 16.515 5.21501 16.572 5.27701 16.612L5.30701 16.633C5.44001 16.736 5.56801 16.847 5.68901 16.966C5.80101 17.064 5.90201 17.175 5.98901 17.296C6.07901 17.415 6.15701 17.542 6.22001 17.677C6.29301 17.811 6.37001 17.965 6.45101 18.14C6.63901 18.614 6.97301 19.015 7.40501 19.285C7.85801 19.528 8.36601 19.649 8.88101 19.636C9.05501 19.636 9.23001 19.626 9.40301 19.606C9.57501 19.578 9.74601 19.549 9.91801 19.515V21.258C9.92112 21.3283 9.90937 21.3984 9.88352 21.4638C9.85767 21.5293 9.81831 21.5885 9.768 21.6377C9.7177 21.6869 9.65758 21.7249 9.59159 21.7492C9.52559 21.7736 9.4552 21.7837 9.38501 21.779H9.32301C6.99105 21.0257 5.00467 19.4645 3.72158 17.3766C2.43848 15.2887 1.94297 12.8114 2.32429 10.3906C2.7056 7.9698 3.93868 5.7647 5.80148 4.17236C7.66428 2.58002 10.0344 1.70507 12.485 1.70507C14.9356 1.70507 17.3057 2.58002 19.1685 4.17236C21.0313 5.7647 22.2644 7.9698 22.6457 10.3906C23.027 12.8114 22.5315 15.2887 21.2484 17.3766C19.9653 19.4645 17.979 21.0257 15.647 21.779V21.783Z" fill="#FFF8F5"/>
						</svg>											
						<span class="sr-only">Github</span>							
					</a>
				</div>
				
				<div class="text-gray-400 bg-[#0A0A0A] rounded-lg border border-[#3B3B3B] p-4 flex items-center hover:text-white">
					<a href="https://www.linkedin.com/in/tamunokorite-briggs-731551211/" target="_blank" class="inline-flex items-center" rel="noopener noreferrer" aria-label="LinkedIn">
						<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4.93994 2.00002C4.93968 2.53046 4.72871 3.03906 4.35345 3.41394C3.97819 3.78883 3.46937 3.99929 2.93894 3.99902C2.40851 3.99876 1.89991 3.78779 1.52502 3.41253C1.15014 3.03727 0.939676 2.52846 0.939942 1.99802C0.940207 1.46759 1.15117 0.958988 1.52644 0.584103C1.9017 0.209218 2.41051 -0.00124153 2.94094 -0.000976312C3.47137 -0.000711096 3.97998 0.210257 4.35486 0.585517C4.72975 0.960777 4.94021 1.46959 4.93994 2.00002ZM4.99994 5.48002H0.999942V18H4.99994V5.48002ZM11.3199 5.48002H7.33994V18H11.2799V11.43C11.2799 7.77002 16.0499 7.43002 16.0499 11.43V18H19.9999V10.07C19.9999 3.90002 12.9399 4.13002 11.2799 7.16002L11.3199 5.48002Z" fill="white"/>
						</svg>								
						<span class="sr-only">LinkedIn</span>							
					</a>
				</div>
			</div>
		</div>
	</section>
</footer>